<!-- 
file edit con form per editare i post
stesso principio di new ma con il for pre-compilato sulla base del blog da editare
-->
<% include ../partials/header.ejs %>
	<div class="">
		<div class="">Edit <%= post.title%></div>
		<form class="" action="/posts/<%= post._id%>?_method=PUT" method="POST">
			<div class="">
				<label>Title</label>
				<input type="text" name="post[title]" value="<%= post.title%>">
			</div>
			<div class="">
				<label>Image</label>
				<input type="text" name="post[image]" value="<%= post.image%>">
			</div>
			<div class="">
				<label>Post content</label>
				<textarea type="text" name="post[post]"><%= post.post%></textarea>
			</div>
			<input class="" type="submit">
		</form>
	</div>
<% include ../partials/footer.ejs %>


